<!DOCTYPE html>
<html lang="fr-ca">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2R7T89B4B"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-P2R7T89B4B');
        </script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow" />
        <link rel="icon" type="image/x-icon" href="../../../../shared/images/favicon.ico">
        <link rel="stylesheet" href="../../../../shared/styles/styles.min.css">
        <link rel="stylesheet" href="../../../../shared/styles/highlight.min.css">
        <link rel="stylesheet" href="../../../../shared/styles/swiper-bundle.min.css">
        <script src="../../../../shared/jscripts/highlight.min.js"></script>
        <script src="../../../../shared/jscripts/howler.min.js"></script>
        <script src="../../../../shared/jscripts/swiper-bundle.min.js"></script>
        <script src="../../../../shared/jscripts/vue.global.prod.js"></script>
        <script src="../../../../shared/jscripts/timdoc.min.js"></script>
        <script>const shared = '../../../../shared/';</script>
        <title>Les bases d'une app VueJS</title>
    </head>
    <body>
        <script>document.body.className = localStorage.getItem('darkmode') === 'true' ? 'dark' : 'light';</script>
        <a id="top"></a>
        <header>
            <div id="logo" @click="goToTop('../../../', '../../../../index/')" title="Retour à l'accueil">
                <svg class="logo-tim" xmlns="http://www.w3.org/2000/svg" class="logo-tim" viewBox="0 0 953.6 303.8">
                   <path d="m785.7 166.8 16.3 16.3 16.2-16.3L930.6 54.5v226.2h-257v-226l112 112.1zM650.6.8v303h303V.7h-1.8L802 150.4 652 .7h-1.5zM324.5.4v303h303V.5h-303zm130 129.9a33.5 33.5 0 0 0 34.7 55.3l94.8 94.8H347.5v-257h257v236.4l-94.8-94.7a33.5 33.5 0 0 0-55.3-34.8zM206.4 0 0 206.5V303h303V0h-96.5zM23 280v-64l85.6-85.6 119.9 119.8 20.5-20.5L129.1 110 216 23h64v257H23z"/>
                </svg>
            </div>
            <div title="Interrupteur" id="lightswitch" class="lightswitch--on" ref="lightswitch" @click="lightswitch()"></div>
        </header>
        <main>
            <!-- MAIN HEADER EOF -->
            <div id="subhead">
                <div id="breadcrumb">
                    <div id="breadcrumb_normal"><a href="../../../">Projet Web</a> > <a href="../../">JavaScript</a> > <a href="../">Vue.js</a> ></div>
                    <div id="breadcrumb_index"><a href="../../../../index/">Index des connaissances</a>&nbsp;>&nbsp;<a href="../../../../index/web/">Web</a>&nbsp;>&nbsp;<a href="../../../../index/web/cadriciels/">Cadriciels</a>&nbsp;>&nbsp;<a href="../../../../index/web/cadriciels/vuejs/">Vue.js</a>&nbsp;>&nbsp;</div>
                </div>
                <h1 id="title"><img src="../images/icon.webp">&nbsp;Les bases d'une app VueJS</h1>
            </div>
            <article>
                <div id="contents">
                    <!-- ARTICLE HEADER EOF -->
<grostitre>Création d'une App</grostitre>


<p>La première étape consiste à appeler la méthode <em>createApp</em> de l'objet global <em>Vue. </em>Celle-ci permet de créer une nouvelle instance d'une app Vue. Afin de pouvoir accéder à l'app ultérieurement, il est nécessaire de stocker le résultat dans une variable.</p>


<p>Par exemple:</p>


<highlight lang="javascript">const app = Vue.createApp({});</highlight>


<info>Cette variable peut porter n’importe quel nom, mais par convention elle est généralement nommée&nbsp;<em>"app"</em>.</info>

<br><br>
<h3 class="heading heading--h3" id="mount">mount</h3>

<p>Il faut ensuite associer l'app à une balise HTML afin de lui indiquer sa portée. Bref, seules cette balise et ses enfants pourront être contrôlées par l'app. Le reste du document n'existera pas à ses yeux.<br><br>Pour ce faire, l'app contenue dans la variable doit appeler sa méthode <em>mount</em> et lui passer en paramètre une chaine de caractères correspondant au sélecteur de la balise désirée. </p>


<info>Cette méthode accepte les mêmes sélecteurs que&nbsp;<a href="https://smnarnold.com/cours/javascript/queryselector">querySelector</a>.</info>

<p>Par exemple, si la balise souhaitée a le id app:</p>
<highlight lang="javascript">app.mount(&#039;#app&#039;);</highlight>


<p>Si le résultat du <span class="inline-code">mount</span> est stocké dans une variable, il est possible d'y accéder afin de changer ses <a rel="noopener noreferrer" href="#donnees">données</a> ou encore d'appeler ses <a rel="noopener noreferrer" href="#methodes-et-evenements">méthodes</a>.</p>

<p>Par exemple:</p>
<highlight lang="javascript">const vm = app.mount(&#039;#app&#039;);</highlight>

<br>
<doclink href='https://v3.vuejs.org/guide/instance.html#creating-an-application-instance'>createApp()</doclink>




<dots></dots>
<grostitre>Données</grostitre>


<p>Afin de définir le comportement de l'app, un objet contenant diverses propriétés doit lui être passé en paramètre. Parmi ces propriétés se trouve <span class="inline-code">data</span>: une fonction retournant les données susceptibles de changer dans l'application.</p>



<p>Par exemple, pour définir une valeur de nom, il est possible d'écrire:</p>

<highlight lang="javascript">const app = Vue.createApp({
  data: function() {
    return {
      firstName: &quot;Willy&quot;,
      lastName: &quot;Wonka&quot;,
      picture: &quot;willy-wonka.jpg&quot;
    }
  }
});</highlight>


<p>Pour des raisons de lisibilité, il est cependant suggéré d'utiliser la nouvelle syntaxe ES6, soit:</p>

<highlight lang="javascript">const app = Vue.createApp({
  data() {
    return {
      firstName: &quot;Willy&quot;,
      lastName: &quot;Wonka&quot;,
      picture: &quot;willy-wonka.jpg&quot;
    }
  }
});</highlight>



<p><span class="inline-code">data</span> est donc une fonction retournant un objet constitué dans ce cas-ci des propriétés: <span class="inline-code">firstName</span>, <span class="inline-code">lastName</span> et <span class="inline-code">picture</span>.</p>

<doclink href='https://v3.vuejs.org/guide/data-methods.html#data-properties'>Data</doclink>
<br>
<br>

<h3 class="heading heading--h3" id="Interpolations">Interpolation des données {{ }}</h3>

<p>Une fois, les données définies, il est possible d'y faire référence à l'aide de moustaches {<span class="inline-code">{ ... }</span>} <em>(doubles accolades)</em>. Leurs contenus, incluant les moustaches elles-mêmes, seront remplacés par la donnée qui lui est associée. Qui plus est, si la valeur de cette donnée vient à changer, celle-ci se mettra automatiquement à jour dans le HTML.</p>

Par exemple, le code suivant:
<highlight lang="html">&lt;div id=&quot;app&quot;&gt;
  Salut { { firstName } }
&lt;/div&gt;</highlight>

<small style="color: #999; font-size: 70%;">Ne pas mettre un espace entre les deux accolades ouvrantes ni entre les deux accolades fermantes.</small>


<br><br>
Affichera en fait:

<highlight lang="html">&lt;div id=&quot;app&quot;&gt;
  Salut Willy
&lt;/div&gt;</highlight>



<alert><strong>Erreur fréquente</strong><br>les moustaches ne sont fonctionnelles qu’à l’intérieur de la balise HTML assignée à&nbsp;l’app.</alert>



<doclink href='https://v3.vuejs.org/guide/template-syntax.html#interpolations'>Interpolations</doclink>
<br><br>
<h3 class="heading heading--h3" id="Attributs">Attributs via v-bind: ou :</h3>

<p>Les données peuvent aussi être insérées dans un attribut HTML <em>(class, src, alt, style, etc.)</em>. Cependant, les moustaches ne sont pas fonctionnelles dans ce contexte ❌. Il faut donc plutôt utiliser une directive <span class="inline-code">v-bind</span> en début d'attribut afin que son contenu se popule avec une donnée présente dans l'objet data.
</p>

<p>Par exemple, pour afficher l'image contenue dans la propriété <span class="inline-code">picture</span>:</p>
<highlight lang="html">&lt;div id=&quot;app&quot;&gt;
  &lt;img v-bind:src=&quot;picture&quot;&gt;
&lt;/div&gt;</highlight>



<p>ou encore la syntaxe courte avec <span class="inline-code">:</span>:</p>


<highlight lang="html">&lt;div id=&quot;app&quot;&gt;
  &lt;img :src=&quot;picture&quot;&gt;
&lt;/div&gt;</highlight>



<p>Si plusieurs données doivent être combinées dans le cadre d'un attribut, il est nécessaire d'utiliser un <a target="_blank" rel="noopener noreferrer" href="https://smnarnold.com/cours/javascript/litteraux-de-gabarits">littéraux de gabarit</a> afin de gérer la combinaison. </p>

<p>Par exemple, pour inscrire le prénom et le nom dans le <span class="inline-code">alt</span> d'une image:</p>

<highlight lang="html">&lt;div id=&quot;app&quot;&gt;
  &lt;img :src=&quot;picture&quot; :alt=&quot;`${firstName} ${lastName}`&quot;&gt;
&lt;/div&gt;</highlight>


<br><br>


<p class="codepen" data-height="360" data-theme-id="44431" data-default-tab="html,result" data-slug-hash="oNJKqxv" data-user="tim-momo" style="height: 360px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/tim-momo/pen/oNJKqxv">
  DEMO VueJS Données</a> by TIM Montmorency (<a href="https://codepen.io/tim-momo">@tim-momo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>

<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>


<warning>Si un attribut est associé à une donnée dont la valeur équivaut à <span class="inline-code">null</span> ou <span class="inline-code">undefined</span>, l’attribut ne sera pas&nbsp;créé.</warning>

<doclink href='https://v3.vuejs.org/guide/template-syntax.html#attributes'>Attributs</doclink>





<dots></dots>
<grostitre>Méthodes et Événements</grostitre>


<p>La propriété <span class="inline-code">methods</span> dans une app Vue est un objet contenant différentes méthodes pouvant être appelées. Ces méthodes peuvent avoir accès aux données contenues dans <span class="inline-code">data</span> via <span class="inline-code">this</span> et les altérer au besoin.</p>

<p>Par exemple, la méthode <span class="inline-code">showActor</span> révélant l'acteur derrière le personnage:</p>

<highlight lang="javascript">const app = Vue.createApp({
  data() {
    return {
      firstName: &quot;Willy&quot;,
      lastName: &quot;Wonka&quot;,
      picture: &quot;willy-wonka.jpg&quot;
    }
  },
  methods: {
    showActor() {
      this.firstName = &quot;Timoth&eacute;e&quot;;
      this.lastName = &quot;Chalamet&quot;;
      this.picture = &quot;timothee-chalamet.jpg&quot;
    }
  }
});</highlight>




<p>Ainsi, lorsque la méthode <span class="inline-code">showActor</span> est appelée, toutes les occurrences de <span class="inline-code">firstName</span> et <span class="inline-code">lastName</span> sont remplacées par <em>Timothée</em> et <em>Chalamet</em>.</p>


<br><br>

<h3 class="heading heading--h3" id="v-on">v-on: ou @</h3>

<p>Pour appeler une méthode, il faut ajouter un événement sur une balise dans l'app. </p>
<p>Par exemple, pour qu'un bouton appelle la méthode <span class="inline-code">showActor()</span>:</p>

<highlight lang="html">&lt;div id=&quot;app&quot;&gt;
Salut { { firstName } }
  &lt;button v-on:click=&quot;showActor()&quot;&gt;R&eacute;v&eacute;ler l&#039;acteur&lt;/button&gt;
&lt;/div&gt;</highlight>
<small style="color: #999; font-size: 70%;">Ne pas mettre un espace entre les deux accolades ouvrantes ni entre les deux accolades fermantes.</small>
<br><br>

<p>ou encore la syntaxe courte avec <span class="inline-code">@</span>:</p>
<highlight lang="html">&lt;div id=&quot;app&quot;&gt;
Salut { { firstName } }
  &lt;button @click=&quot;showActor()&quot;&gt;R&eacute;v&eacute;ler l&#039;acteur&lt;/button&gt;
&lt;/div&gt;</highlight>
<small style="color: #999; font-size: 70%;">Ne pas mettre un espace entre les deux accolades ouvrantes ni entre les deux accolades fermantes.</small>

<br><br><br>
<p class="codepen" data-height="520" data-theme-id="44431" data-default-tab="html,result" data-slug-hash="mdaNxGW" data-user="tim-momo" style="height: 520px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/tim-momo/pen/mdaNxGW">
  DEMO VueJS - Méthodes</a> by TIM Montmorency (<a href="https://codepen.io/tim-momo">@tim-momo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<br><br>



        <a class="exercice" target="_blank" href="../../../exercices/vue-tableau-nba/">
            <div class="exercice-container">
                <div class="exercice-thumb" style="background-image: url(../../../exercices/vue-tableau-nba/images/thumb.webp)"></div>
                <div class="exercice-abstract">
                    <em class="exercice-label">EXERCICE</em>
                    <span class="exercice-title">Vue - Tableau NBA</span>
                    <span class="exercice-description">Vous devrez rendre dynamique à l’aide de Vue le tableau indicateur d’un match de la NBA</span>
                </div>
            </div>
        </a>
        <a class="exercice" target="_blank" href="../../../exercices/vue-cheese-kanye-says/">
            <div class="exercice-container">
                <div class="exercice-thumb" style="background-image: url(../../../exercices/vue-cheese-kanye-says/images/thumb.webp)"></div>
                <div class="exercice-abstract">
                    <em class="exercice-label">EXERCICE</em>
                    <span class="exercice-title">Vue - Cheese Kanye says</span>
                    <span class="exercice-description">Vous devrez mettre à jour la citation de Kanye West via vue.js et un API</span>
                </div>
            </div>
        </a>
<br>

<doclink href='https://v3.vuejs.org/guide/events.html#listening-to-events'>Event Handling</doclink>







<dots></dots>
<grostitre>Classes dynamiques :class</grostitre>
<p>Il est fréquent qu'une classe doit-être ajoutée ou retirée à un élément afin de refléter une action commise par un usager. Pour ce faire, Vue permet de passer un objet à un attribut. Cet objet doit contenir une propriété correspondant au nom de la classe souhaitée et comme valeur une donnée ou encore une expression. Ainsi, si cette valeur est évaluée à <span class="inline-code">true</span>, la classe est ajoutée et à l'opposée si elle est évaluée à <span class="inline-code">false</span> elle est retirée.</p>

<p>Par exemple, pour ajouter la classe <em>orange</em> lorsque la donnée <em>isOrange</em> est équivalente à <span class="inline-code">true</span>:</p>
<highlight lang="html">&lt;img :src=&quot;picture&quot; :class=&quot;{orange: isOrange}&quot;&gt;</highlight>


<br>
<p class="codepen" data-height="500" data-theme-id="44431" data-default-tab="html,result" data-slug-hash="mdaNLbB" data-user="tim-momo" style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/tim-momo/pen/mdaNLbB">
  DEMO VueJS - Méthodes</a> by TIM Montmorency (<a href="https://codepen.io/tim-momo">@tim-momo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<br>

<p>Si une classe contenant des caractères spéciaux doit être ajoutée, il sera nécessaire de l'entourer de guillemets.</p>

<p>Par exemple, une classe avec un trait d'union:</p>
<highlight lang="html">&lt;img :src=&quot;picture&quot; :class=&quot;{&#039;is-orange&#039;: isOrange}&quot;&gt;</highlight>


<info>En cas de doute, il est possible de toujours utiliser des guillemets, même si aucun caractère spécial n’est&nbsp;présent.</info>



<br><br>

<h3 class="heading heading--h3" id="Multiple classes dynamiques">Multiple classes dynamiques</h3>
<p>Puisqu'un objet est utilisé, il est possible d'ajouter plusieurs classes dynamiques simplement en les séparant par une virgule.</p>
<p>Par exemple:</p>

<highlight lang="html">&lt;img :src=&quot;picture&quot; :class=&quot;{orange: isOrange, big: isBig}&quot;&gt;</highlight>




<br><br>

<h3 class="heading heading--h3" id="Combinaison avec des classes statiques">Combinaison avec des classes statiques</h3>

<p>Si certaines classes doivent être statiques <em>(ne jamais changer)</em>, alors que certaines doivent être dynamiques <em>(pouvoir changer)</em>, il est nécessaire d'utiliser deux attributs <span class="inline-code">class</span>. Un 1<sup>er</sup> sans <span class="inline-code">v-bind</span> ou <span class="inline-code">:</span> pour les classes statiques et un 2<sup>e</sup> avec pour les classes dynamiques. Ces deux attributs seront ensuite combinés par Vue.</p>

<p>Par exemple:</p>
<highlight lang="html">&lt;img :src=&quot;picture&quot; class=&quot;media&quot; :class=&quot;{orange: isOrange}&quot;&gt;</highlight>


<p>Produira le code suivant si la valeur de <em>isOrange</em> est <span class="inline-code">true</span>:</p>
<highlight lang="html">&lt;img src=&quot;willy-wonka-square.jpg&quot; class=&quot;media orange&quot;&gt;</highlight>

<br><br>
<doclink href='https://v3.vuejs.org/guide/class-and-style.html#class-and-style-bindings'>Class &amp; Style Bindings</doclink>






<dots></dots>
<grostitre>Condition v-if</grostitre>

<h3>Rendu conditionnel</h3>

<p>Certains éléments sont pertinents à afficher uniquement lorsqu'ils contiennent une valeur.</p>

<p>Par exemple, une bulle permettant d'afficher la date de naissance d'une personne n'est désirable que s'il y a une date à afficher. Si cette information n'est pas fournie, avoir une bulle vide est indésirable:</p>

<highlight lang="html">&lt;div class=&quot;bubble&quot; v-if=&quot;birth&quot;&gt;{ { birth } }&lt;/div&gt;</highlight>

<small style="color: #999; font-size: 70%;">Ne pas mettre un espace entre les deux accolades ouvrantes ni entre les deux accolades fermantes.</small>
<br><br><br>

<p class="codepen" data-height="700" data-theme-id="44431" data-default-tab="html,result" data-slug-hash="OJrKZbw" data-user="tim-momo" style="height: 700px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/tim-momo/pen/OJrKZbw">
  DEMO VueJS | v-if</a> by TIM Montmorency (<a href="https://codepen.io/tim-momo">@tim-momo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>


<doclink href='https://v3.vuejs.org/guide/conditional.html'>Rendu conditionnel</doclink>

<h3>Autre condition</h3>

<p>Outre le fait de vérifier si une donnée est vide ou non, il est aussi possible d'ajouter une condition de comparaison directement dans <em>v-if</em>.</p>
<p>Par exemple:</p>

<highlight lang="html">&lt;div class=&quot;bubble&quot; v-if=&quot;birth&gt;=2000&quot;&gt;{ { birth } }&lt;/div&gt;</highlight>
<small style="color: #999; font-size: 70%;">Ne pas mettre un espace entre les deux accolades ouvrantes ni entre les deux accolades fermantes.</small>

<p>Ou encore comparer la valeur de deux paramètres:</p>

<highlight lang="html">&lt;div class=&quot;bubble&quot; v-if=&quot;firstName==lastName&quot;&gt;{ { firstName } }&lt;/div&gt;</highlight>
<small style="color: #999; font-size: 70%;">Ne pas mettre un espace entre les deux accolades ouvrantes ni entre les deux accolades fermantes.</small>



<dots></dots>
<grostitre>Boucle</grostitre>
<p>Vue permet de boucler sur un tableau d'objets grâce à la directive <span class="inline-code">v-for</span>. Pour ce faire, il faut spécifier le nom temporaire que l'on souhaite attribuer à chaque objet dans le tableau et spécifier le tableau dans lequel ce trouve ces objets.</p>

<p>Par exemple, il est possible d'accéder à chaque rôle se trouvant dans le tableau <span class="inline-code">rolesArray</span>:</p>

<highlight lang="html">&lt;div v-for=&quot;role in rolesArr&quot;&gt;
  &lt;img :src=&quot;role.picture&quot;&gt;
&lt;/div&gt;</highlight>


<p>Par la suite, il faut spécifier si la propriété désirée est enfant du parent <span class="inline-code">data</span> ou enfant du rôle courant dans la boucle en la préfixant par <span class="inline-code">role</span>.</p>

<p class="codepen" data-height="800" data-theme-id="44431" data-default-tab="html,result" data-slug-hash="abPeGqp" data-user="tim-momo" style="height: 800px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/tim-momo/pen/abPeGqp">
  DEMO VueJS | boucle</a> by TIM Montmorency (<a href="https://codepen.io/tim-momo">@tim-momo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>

<br><br>
<h3 class="heading heading--h3" id="Index">Index</h3>

<p>Afin d'obtenir l'index courant dans une boucle <span class="inline-code">v-for</span>, il est suffit d'ajouter un 2e paramètre dans la directive. Puisque deux paramètres sont présents, il est nécessaire de les grouper dans entre parenthèses.</p>


<p>Par exemple:</p>
<highlight lang="html">&lt;div v-for=&quot;(role, index) in rolesArr&quot;&gt;
  &lt;img :src=&quot;role.picture&quot;&gt;
&lt;/div&gt;</highlight>

<br>


<p class="codepen" data-height="500" data-theme-id="44431" data-default-tab="html,result" data-slug-hash="GRPVGPg" data-user="tim-momo" style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/tim-momo/pen/GRPVGPg">
  DEMO VueJS | boucle</a> by TIM Montmorency (<a href="https://codepen.io/tim-momo">@tim-momo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>


<br><br>
<h3 class="heading heading--h3" id="Combinaison avec des événements">Combinaison boucle avec événements</h3>

<p>Il est possible de combiner une boucle avec des <a rel="noopener noreferrer" href="#methodes-et-evenements">événements</a> sans problème, simplement en spécifiant en paramètre à la méthode appelée l'objet devant être altéré.</p>
<br>

<p class="codepen" data-height="500" data-theme-id="44431" data-default-tab="html,result" data-slug-hash="oNJKyOO" data-user="tim-momo" style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/tim-momo/pen/oNJKyOO">
  DEMO VueJS | boucle index</a> by TIM Montmorency (<a href="https://codepen.io/tim-momo">@tim-momo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>

<warning>Il ne faut<a href="https://vuejs.org/style-guide/rules-essential.html#avoid-v-if-with-v-for" target="_blank"> jamais utiliser <span class="inline-code">v-if</span> sur un élément ayant&nbsp;<span class="inline-code">v-for</span></a>.</warning>
<br>

        <a class="exercice" target="_blank" href="../../../exercices/vue-ouest-vs-est/">
            <div class="exercice-container">
                <div class="exercice-thumb" style="background-image: url(../../../exercices/vue-ouest-vs-est/images/thumb.webp)"></div>
                <div class="exercice-abstract">
                    <em class="exercice-label">EXERCICE</em>
                    <span class="exercice-title">Vue - Ouest VS Est</span>
                    <span class="exercice-description">Afin d’afficher quel rappeur appartenait à quel camp est ou ouest, vous devrez compléter une app Vue.</span>
                </div>
            </div>
        </a>

<br><br>

<doclink href='https://v3.vuejs.org/guide/list.html'>Rendu de liste</doclink>





<dots></dots>
<grostitre>Alternatives à VueJS</grostitre>

        <a class="tool" target="_blank" href="https://react.dev/">
            <div class="tool-container">
                <div class="tool-abstract">
                    <em class="tool-label">OUTIL</em>
                    <span class="tool-title">React</span>
                    <span class="tool-description">React is a free and open-source front-end JavaScript library for building user interfaces based on components.</span>
                </div>
                <div class="tool-thumb" style="background-image: url(./outils/react/images/thumb.webp)"></div>
            </div>
        </a>
        <a class="tool" target="_blank" href="https://svelte.dev/">
            <div class="tool-container">
                <div class="tool-abstract">
                    <em class="tool-label">OUTIL</em>
                    <span class="tool-title">Svelte</span>
                    <span class="tool-description">Svelte is a free and open-source front-end component framework and language created by Rich Harris and maintained by the Svelte core team members.</span>
                </div>
                <div class="tool-thumb" style="background-image: url(./outils/svelte/images/thumb.webp)"></div>
            </div>
        </a>
        <a class="tool" target="_blank" href="https://angular.io/">
            <div class="tool-container">
                <div class="tool-abstract">
                    <em class="tool-label">OUTIL</em>
                    <span class="tool-title">Angular</span>
                    <span class="tool-description">Angular is a TypeScript-based, free and open-source single-page web application framework.</span>
                </div>
                <div class="tool-thumb" style="background-image: url(./outils/angular/images/thumb.webp)"></div>
            </div>
        </a>
        <a class="tool" target="_blank" href="https://backbonejs.org/">
            <div class="tool-container">
                <div class="tool-abstract">
                    <em class="tool-label">OUTIL</em>
                    <span class="tool-title">Backbone.js</span>
                    <span class="tool-description">Backbone.js is a JavaScript rich-client web app framework based on the model–view–controller design paradigm, intended to connect to an API over a RESTful JSON interface.</span>
                </div>
                <div class="tool-thumb" style="background-image: url(./outils/backbone/images/thumb.webp)"></div>
            </div>
        </a>

                    <!-- ARTICLE FOOTER SOF -->
                </div>
                <tabledesmatieres></tabledesmatieres>
            </article>
            <script>timdocMount();</script>
        <!-- MAIN FOOTER SOF -->
        </main>
        <footer>
            <div id="copyright">2024 Collège Montmorency<br>Techniques d'intégration multimédia</div>
        </footer>
    </body>
</html>