.appendPopup {
  position: fixed;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.appendPopup.is-visible {
  opacity: 1;
  pointer-events: initial;
}

.appendPopup__background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
}

.appendPopup__content {
  background: #fff;
  width: 86%;
  max-width: 360px; 
  position: relative;
  padding: 20px;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 8px;
  border: solid 8px #fff;
  min-height: 190px;
  transform: translateY(-40px);
  transition: transform 0.5s;
}

.is-visible .appendPopup__content {
  transform: translateY(0);
}

.appendPopup__title {
  font-size: 30px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px var(--color);
  text-stroke: 2px var(--color);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.appendPopup__text {
  font-size: 16px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
  margin: 0;
}
