@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #ffc5c5, 20%, #ffffff);
  background-repeat: repeat-x;
  padding-bottom: 100px;
  font-family: Rubik;
  font-size: 18px;
}

span.inline-code {
  font-family: Consolas, Inconsolata;
  background-color: rgb(209, 204, 204);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(0deg, #ff003a, #ff003a);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 15%;
}
a:hover {
  background-size: 100% 100%;
  transition-duration: 200ms;
}

header {
  margin-left: 60px;
  position: fixed;
  height: 200px;
  width: 250px;
}
header #logo {
  position: relative;
  top: 60px;
  width: 250px;
  height: 80px;
  background-image: url("../images/tim-logo.png");
}

#subhead {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 56px;
}
#subhead #breadcrumb {
  font-size: 24px;
}
#subhead #title {
  font-size: 60px;
}

article {
  width: 1070px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 200px - 100px - 40px);
  margin-top: 40px;
}

footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #ffc5c5, 50%, #ffffff);
  text-align: center;
}
footer #copyright {
  padding-top: 40px;
  font-size: 16px;
}

#contents {
  width: 770px;
}
#contents ul {
  margin-left: 25px;
  margin-bottom: 25px;
}
#contents ul li {
  margin-top: 15px;
}
#contents p {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  line-height: 28px;
}
#contents p:before {
  content: "        ";
}
#contents img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
#contents h2 {
  margin-left: 25px;
  margin-bottom: 25px;
}
#contents .mediafile {
  display: flex;
}
#contents .mediafile__icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: black;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}
#contents .mediafile__text {
  display: inline-block;
  padding-left: 6px;
}
#contents .mediafile__link {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
#contents .mediafile__link-text {
  margin-top: 4px;
  display: block;
  width: 100%;
  background-color: rgb(228, 227, 227);
  font-size: 16px;
  padding: 4px;
  border: 0px;
}
#contents .mediafile__linkcopied {
  font-size: 14px;
  margin-left: 10px;
  opacity: 0%;
}
#contents .mediafile__chain {
  transition-duration: 200ms;
  height: 22px;
  width: 22px;
  padding: 2px;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  display: inline;
  background-color: #ffc5c5;
  margin-left: 6px;
}
#contents .mediafile__chain:hover {
  cursor: pointer;
  transform: rotate(-180deg);
  transition-duration: 200ms;
  background-color: #fa6b6b;
}
#contents .mediafile__chain.copied {
  background-color: #83ff73;
  transform: rotate(-360deg);
}
#contents .mediafile__chain.copied + div {
  opacity: 100%;
  transition-duration: 200ms;
}
#contents div.spacer {
  width: 100px;
  color: #aaaaaa;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#contents div.title {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
#contents div.title h1 {
  font-size: 36px;
  vertical-align: middle;
  margin-right: 25px;
}
#contents div.title div.linkcopied {
  line-height: 36px;
  margin-left: 20px;
  opacity: 0%;
}
#contents div.title div.chain {
  transition-duration: 200ms;
  height: 36px;
  width: 36px;
  padding: 4px;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  display: inline;
  background-color: #ffc5c5;
}
#contents div.title div.chain:hover {
  cursor: pointer;
  transform: rotate(-180deg);
  transition-duration: 200ms;
  background-color: #fa6b6b;
}
#contents div.title div.chain.copied {
  background-color: #83ff73;
  transform: rotate(-360deg);
}
#contents div.title div.chain.copied + div {
  opacity: 100%;
  transition-duration: 200ms;
}
#contents iframe.codepen {
  width: 100%;
  height: 400px;
  margin-bottom: 25px;
}
#contents span.codepen-remark {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: -50px;
  margin-bottom: 25px;
}
#contents .doclink {
  display: inline-block;
  position: relative;
  background-image: none;
  margin-bottom: 25px;
  margin-right: 10px;
  border-radius: 24px;
}
#contents .doclink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  background-color: #ff0000;
  border-radius: 24px;
}
#contents .doclink:hover {
  color: white;
}
#contents .doclink:hover::before {
  opacity: 8;
}
#contents .doclink .doclink-title {
  position: relative;
  top: -4px;
  margin-left: 8px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 24px;
  font-family: Consolas, Inconsolas;
}
#contents .doclink .doclink-icon {
  background-image: url("../images/doclink-icon.png");
  background-size: 24px 24px;
  display: inline-block;
  position: relative;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
#contents .doclink.spacer {
  margin-left: 25px;
}
#contents .doclink.css3 .doclink-icon {
  background-image: url("../images/css3-icon.png");
}
#contents .doclink.css3::before {
  background-color: #004ce8;
}
#contents .doclink.w3schools .doclink-icon {
  background-image: url("../images/w3schools-icon.png");
}
#contents .doclink.w3schools::before {
  background-color: #009a68;
}
#contents .doclink.mozilla .doclink-icon {
  background-image: url("../images/mozilla-icon.png");
}
#contents .doclink.mozilla::before {
  background-color: #ff1a00;
}
#contents .doclink.codepen .doclink-icon {
  background-image: url("../images/codepen-icon.png");
}
#contents .doclink.codepen::before {
  background-color: #000000;
}
#contents a.exercice {
  display: block;
  background-image: linear-gradient(0deg, #87ceeb, 20%, #f0f8fc);
  width: 100%;
  height: 140px;
  background-color: #f0f8fc;
  margin-bottom: 25px;
  color: #555555;
}
#contents a.exercice:hover {
  color: #000000;
}
#contents a.exercice div.exercice-container {
  width: 100%;
  height: 100%;
  display: flex;
}
#contents a.exercice div.exercice-container div.exercice-thumb {
  width: 186px;
  height: 100%;
}
#contents a.exercice div.exercice-container div.exercice-abstract {
  width: calc(100% - 186px);
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#contents a.exercice div.exercice-container div.exercice-abstract em {
  background-color: skyblue;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  font-style: normal;
  font-size: 12px;
  color: white;
  line-height: 24px;
}
#contents a.exercice div.exercice-container div.exercice-abstract span.exercice-title {
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
}
#contents a.exercice div.exercice-container div.exercice-abstract span.exercice-description {
  font-size: 14px;
}
#contents .video-js {
  width: 100%;
  margin-bottom: 25px;
}
#contents .video-js button.vjs-big-play-button {
  color: #ff003a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contents pre.highlight {
  font-size: 16px;
  padding-bottom: 25px;
}
#contents div.checklist ol {
  margin-left: 25px;
  margin-bottom: 25px;
}
#contents div.checklist ol li {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  transition-duration: 200ms;
}
#contents div.checklist ol li:hover {
  background-color: #fde8ed;
}
#contents div.checklist ol li.checked {
  text-decoration: line-through;
  -webkit-text-decoration-color: #ff003a;
          text-decoration-color: #ff003a;
  transition-duration: 200ms;
}
#contents div.checklist ol li.checked::marker {
  content: "✓  ";
}
#contents div.checklist div.progressbar {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(0deg, #ff003a, #ff003a);
  background-color: #fde8ed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition-duration: 250ms;
}

#contents_table {
  position: fixed;
  margin-left: 820px;
  width: 250px;
  text-align: right;
}
#contents_table .contents_table__table {
  padding-top: 20px;
}
#contents_table .contents_table__table li {
  margin-top: 10px;
  list-style-type: none;
  font-size: 16px;
}

#listing {
  width: 100%;
}
#listing .list-grid {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  display: grid;
  grid-template-columns: 50% 50%;
}
#listing .list-grid__item {
  display: flex;
  height: 60px;
}
#listing .list-grid__item__icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  border-radius: 50%;
}
#listing .list-grid__item__description {
  height: 48px;
  display: inline-block;
  padding-top: 2px;
  padding-left: 10px;
  vertical-align: middle;
}
#listing .list-grid__item__title {
  display: block;
  font-size: 24px;
}
#listing .list-grid__item__abstract {
  display: block;
  font-size: 11px;
  margin-top: 2px;
}/*# sourceMappingURL=styles.css.map */