@use 'partials/variables';
@use 'partials/functions';
@use 'partials/fonts';
@use 'partials/darkmode';

@use 'components/grostitre';
@use 'components/dots';
@use 'components/info';
@use 'components/warning';
@use 'components/alert';
@use 'components/audioplayer';
@use 'components/mediafile';
@use 'components/codepen';
@use 'components/doclink';
@use 'components/exercice';
@use 'components/tool';
@use 'components/clip';
@use 'components/highlight';
@use 'components/checklist';
@use 'components/knowmore';
@use 'components/color';
@use 'components/swiper';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    // background: linear-gradient(to bottom, #ffc5c5, 20%, #ffffff);
    background-repeat: repeat-x;
    padding-bottom: variables.$footer_height;
    font-family: Rubik;
    font-size: 18px;
    scrollbar-color: dark;
}

span.inline-code {
    font-family: Consolas, Inconsolata;
    background-color: #d1cccc;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
}


a {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(0deg, #ff003a, #ff003a);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 15%;

    &:hover {
        background-size: 100% 100%;
        transition-duration: 200ms;
    }
}


header {
    margin-left: 60px;
    position: fixed;
    height: 200px;

    #logo {
        position: relative;
        top: 60px;
        width: 202px;
        height: 80px;
        background-image: url("../images/tim-logo.png");
        background-repeat: no-repeat;
        cursor: pointer;
    }

    #lightswitch {
        background-color: #ffffff;
        background-size: 34px 34px;
        background-repeat: no-repeat;
        position: relative;
        width: 34px;
        height: 34px;
        left: 210px;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            background-image: linear-gradient(0deg, #ff003a, #ff003a);
            left: 0px;
            top: 0px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            transition-duration: 0.4s;
        }

        &.lightswitch--on::before { top: 0px; }
        &.lightswitch--off::before { top: 34px; }
    }
}


#subhead {
    background-color: rgba(0, 0, 0, 10%);
    width: 100%;
    height: variables.$subhead_height;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 56px;

    #breadcrumb {
        font-size: 24px;
    }

    #title {
        font-size: 60px;
    }

}

main {
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #ffc5c5, 20%, #ffffff);
        z-index: -1;
    }
}

article {
    display: flex;
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - variables.$subhead_height - variables.$footer_height - variables.$article_padding);
    margin-top: variables.$article_padding;
}

footer {
    width: 100%;
    height: variables.$footer_height;
    background: linear-gradient(to top, #ffc5c5, 50%, #ffffff);
    text-align: center;

    #copyright {
        padding-top: 40px;
        font-size: 16px;
    }

}

#contents_table {
    position: sticky;
    align-self: flex-start;
    top: 70px;
    width: 250px;
    text-align: right;

    .contents_table__table {
        li {
            margin-top: 10px;
            list-style-type: none;
            font-size: 16px;
        }
    }
}



#contents {
    width: 770px;

    ul, ol {
        margin-left: 25px;
        margin-bottom: 25px;
        li {
            margin-top: 15px;
        }
    }

    p {
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 25px;
        line-height: 28px;
        &:before {
            content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    h2 {
        margin-left: 25px;
        margin-bottom: 25px;
    }

}


#listing {
    width: 100%;

    .list-grid {
        margin-left: auto;
        margin-right: auto;
        width: 720px;
        display: grid;
        grid-template-columns: 50% 50%;

        &__item {
            display: flex;
            height: 60px;

            &__icon {
                display: inline-block;
                height: 48px;
                width: 48px;
                background-size: 48px 48px;
                border-radius: 50%;
            }

            &__description {
                height: 48px;
                display: inline-block;
                padding-top: 2px;
                padding-left: 10px;
                vertical-align: middle;
            }

            &__title {
                display: block;
                font-size: 24px;
            }

            &__abstract {
                display: block;
                font-size: 11px;
                margin-top: 2px;
            }
        }
    }

}


@media only screen and (max-width: 1700px) {
    header { position: absolute; }
}

@media only screen and (max-width: 1340px) {
    header { display: none; }
}

@media only screen and (max-width: 1070px) {
    #contents_table { display: none; }
    article { width: 770px; }
}

@media only screen and (max-width: 830px) {
    .info__bubble { display: none; }
    .warning__bubble { display: none; }
    .alert__bubble { display: none; }
}
