@use 'partials/variables';
@use 'partials/functions';
@use 'partials/fonts';
@use 'partials/intlink';
@use 'partials/modal';
@use 'partials/password';
@use 'partials/darkmode';

@use 'components/grostitre';
@use 'components/dots';
@use 'components/infobubble';
@use 'components/tune';
@use 'components/mediafile';
@use 'components/codepen';
@use 'components/doclink';
@use 'components/exercice';
@use 'components/tool';
@use 'components/clip';
@use 'components/highlight';
@use 'components/checklist';
@use 'components/knowmore';
@use 'components/color';
@use 'components/swiper';
@use 'components/quote';
@use 'components/oembed';
@use 'components/correction';

/* light color palette: https://coolors.co/577590-f3ca40-ff003a-e1e4f2-f2a541 */

:root{
   
    --lightmode-blue: #577590;
    --lightmode-yellow: #f3ca40;
    --lightmode-red: #ff003a;
    --lightmode-lightgray: #e1e4f2;
    --lightmode-orange: #f2a541;

     /* SVP conservez les 2 variables CSS suivantes (et non scss) car je les utilise en démo dans un des mes cours (Marie-Michelle) */
    --main-color: #ff003a;
    --grostitre-size-desktop: 36px;
    --h1-size-desktop: 48px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    color: black;
    background-color: white;
    height: 100vh;
    background-repeat: repeat-x;
    padding-bottom: variables.$footer_height;
    font-family: Rubik;
    scrollbar-color: dark;
    font-size: 4vw;

    @media (min-width: 576px)  {
        font-size: 18px;
    }
}

span.inline-code {
    // font-family: monospace;
    font-family: 'Consolas';
    background-color: #d1d1d8;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    font-style: normal;
    color: black;
    // user-select: none;
    cursor: pointer;

}


a {
    color: black;
    text-decoration: none;
     /* SVP conservez la variable CSS (et non scss) ici car je l'utilise en démo dans un des mes cours (Marie-Michelle) */
    background-image: linear-gradient(0deg, var(--main-color),var(--main-color));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 15%;

    &:hover {
        background-size: 100% 100%;
        transition-duration: 200ms;
    }

    &.no-underline{
        background-image: none;
    }
}

hr {
    // color: #aaaaaa;
    border: 1px dashed #aaaaaa;
    margin-bottom: 20px;
}

.btn{
    border: 2px solid #ff003a;
    background-color: none; 
    padding: 4px 35px 7px 35px; 
    display: inline-block; 
    width: auto; 
    text-align: center;
    border-radius: 4px;
}

header {
    margin-left: 60px;
    position: fixed;
    height: 200px;
    z-index: 1;

    #logo {
        position: relative;
        top: 60px;
        width: 216px;
        // width: 200px;
        fill:#ff003a;
        background-repeat: no-repeat;
        cursor: pointer;
        // background-color: blue;
    }

    #lightswitch {
        // display: none;
        background-color: #ffffff;
        background-size: 34px 34px;
        background-repeat: no-repeat;
        position: relative;
        width: 34px;
        height: 34px;
        left: 240px;
        border-radius: 50%;
        overflow: hidden;
        transition-property: transform;
        transition-duration: 100ms;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            background-image: linear-gradient(0deg, #ff003a, #ff003a);
            left: 0px;
            top: 0px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            transition-duration: 0.4s;
        }

        &.lightswitch--on::before { top: 0px; }
        &.lightswitch--off::before { top: 34px; }

        &:hover {
            transform: scale(1.2);
            
        }

    }
}

#subhead {
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: #e1e4f2;
    width: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px 5px;

    @media (min-width: 576px)  {
       /* height: variables.$subhead_height;
        padding-bottom: 0; */
        padding: 60px 10px;
    
    }

    #breadcrumb {
        font-size: 4vw;
        @media (min-width: 576px)  {
            font-size: 24px;
        }

        &_index {
            display: none;
        }

        &.index {
            #breadcrumb_normal {
                display: none;
            }

            #breadcrumb_index {
                display: block;
            }
        }


    }

    #title {
        font-size: 10vw;
        font-weight: 400;
        max-width: 1000px;
        margin: 5px auto 0 auto;

        @media (min-width: 576px)  {
            font-size: 60px;
        }

        img {
            position: relative;
            border-radius: 50%;
            width: 10vw;
            height: 10vw;
            max-width: 48px;
            max-height: 48px;
            top: 4px;
        }
    }  

    &::before,  &::after {
        content: '';
        flex: auto;
        position: relative;
        display: block;
        width: 100%;
    }

}

main {
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

article {
    display: flex;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - variables.$subhead_height - variables.$footer_height - variables.$article_padding);
    margin-top: variables.$article_padding;
}

footer {
    // margin-top: 100px;
    width: 100%;
    height: 100px;
    // background: rgb(225 228 242);
    //background-color: #e5ecf1;
    border-top: 1px solid rgb(204, 207, 217);
    text-align: center;
    padding: 36px 0 30px;

    #copyright {
        font-size: 2vw;
        line-height: 1.8;

        @media (min-width: 576px)  {
           font-size: 12px;
        }
    }

}

#contents_table {
    position: sticky;
    align-self: flex-start;
    top: 70px;
    width: 250px;
    text-align: right;

    .contents_table__table {
        li {
            margin-top: 10px;
            list-style-type: none;
            font-size: 16px;
        }
    }
}



#contents, #wiki__pages {
    width: 100%;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 0 25px;
    // height: calc(100% - 100px);

    ul, ol {
        margin-left: 25px;
        margin-bottom: 25px;
        li {
            margin-top: 3px;
        }

        line-height: 1.4;
        @media (min-width: 576px)  {
            line-height: 28px;
        }
    }

    p {

        margin-bottom: 25px;
        line-height: 1.4;
        @media (min-width: 576px)  {
            line-height: 28px;
        }


        &.spacer {
            &:before {
                content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
            }
        }

    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        max-width: 100%;

        &.full {
            min-width: calc(100% + 50px);
            max-width: calc(100% + 50px);
            margin-left: -25px;
            margin-right: -25px;
        }
    }
    iframe[src*="app.wooclap.com"]{
        margin-left: -25px;
        margin-right: -25px;
        min-width: 300px;
        @media (min-width: 576px) {
            min-width: calc(100% + 50px);
            max-width: calc(100% + 50px);
        }
       

    }
    figure {
        margin-bottom: 50px;
        img{
            margin-bottom: 5px;

        }
        figcaption{
            font-size: 70%;
            text-align: center;;
        }
    }

    h1{
        font-size: 8vw;
        @media (min-width: 576px) {
            font-size: var(--h1-size-desktop);
        }
    }

    
    h2 {
        font-size: 7vw !important;
        margin-bottom: 25px;
        margin-top: 25px;
        @media (min-width: 576px) {
            font-size: var(--grostitre-size-desktop) !important;
        }
    }

    h3 {
        margin-bottom: 25px;
        margin-top: 50px;
        font-size: 6vw;
        @media (min-width: 576px)  {
            font-size: 28px;
        }
    }

    .grostitre + h3,
    h2 + h3
    {
        margin-top: 20px;
    }

    // h4, h5, h6{
    h4, h6{
        margin-bottom: 20px;
        margin-top: 30px;
    }

    
    em {
        // color: #F3CA40;
        color: #F2A541;
    }


 
    span.remark {
        display: block;
        text-align: center;
        font-size: 14px;
        margin-top: -25px;
        margin-bottom: 25px;
        color: rgb(177, 176, 176);

        .inline-code {
            font-size: 12px;
        }

    }

    .demo-inspecteur {
        display: inline-block;
        border: dotted 1px #00c774;
        padding: 1em;
        z-index: 1;
    }




}


#listing {
    width: 100%;
    padding: 0 10px;

    .list-grid {
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        // grid-gap: 10px;

        @media (min-width: 576px)  {
            grid-template-columns: 50% 50%;
        }

        &__item {
            // border: 1px solid white;
            display: flex;
            height: auto;
            margin-bottom: 20px;
            padding-right: 10px;
            @media (min-width: 576px)  {
                height: 60px;
                margin-bottom: 0;
            }
        

            &__icon {
                display: inline-block;
                height: 48px;
                width: 48px;
                background-size: 48px 48px;
                border-radius: 50%;
                background-repeat: no-repeat;
                flex-shrink: 0;
                
                /*
                background-color: white;
                background-size: 38px 38px;
                background-position: 50% 50%;
                */
            }

            &__description {
                display: inline-block;
                padding-top: 2px;
                padding-left: 10px;
                vertical-align: middle;
                height: auto;
                @media (min-width: 576px)  {
                    height: 48px;
                }
        
            }

            &__title {
                display: block;
                font-size: 20px;
            }

            &__abstract {
                display: block;
                font-size: 11px;
                margin-top: 2px;
            }
        }
    }
}


@media only screen and (max-width: 1700px) {
    header {
        position: absolute;
        #logo { display: none; }
        #lightswitch { 
            position: fixed;
            top: 10px;
            right: 10px;
            left: auto;
            z-index: 99999;
        }
    }
}
table{
    width: 100%;
    font-size: 80%;
    font-weight: 300;

    margin: 10px 0 50px 0;
    td, th{
        padding: 5px;
        text-align: left;
    }
    th{
        background-color: #ff003a;
    }
    tr:nth-child(even) td{
        background-color: rgba(0,0,0,0.05)
    }

    &.table-couleurs{
        width: 300px;

        td{
            width: 50%;
        }

        .color{ 
            margin: 0;

        }
    }
    
}

@media only screen and (max-width: 1070px) {
    #contents_table { display: none; }
    article { width: 100%; max-width:770px; }
}




.video-container{
    margin-left: -25px;
    margin-right: -25px;
}


#wiki {
    display: flex;
    min-height: 100%;
    padding-right: 25px;
    
    &__burger {
        display: none;
    }


    &__list {
        max-width: 200px;
        min-height: 100%;
        // background-image: linear-gradient(to right, #111111, #000000);
        background-image: linear-gradient(to right, #e1e4f227, #e1e4f200);
        
        
        ul {
            position: sticky;
            top: 0;
            padding: 25px 25px 25px 25px;
            user-select: none;
            // background-color: red;
            
            li {
                white-space: nowrap;
                margin-bottom: 20px;
                list-style-type: none;
                font-size: 16px;
                line-height: 18px;
                a + span {
                    // display: inline-block;
                    visibility: hidden;
                }
                a.active + span {
                    visibility: visible;
                    // display: inline-block;
                }

            }
        }
    }

    &__pages {
        width: 100%;
        max-width: 100%;
        padding: 25px 25px;
    
 
    
    }

    .wiki__page {
        display: none;

        &.active {
            display: block;
        }
    }

    s{
        opacity: 0.3;
    }

}


@media (max-width: 576px)  {
    #wiki {
        padding-right: 0px;
        &__burger {
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
            right: 25px;
            top: 25px;
            // background-color: red;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 123 104'%3E%3Cpath fill='%23ff003a' fill-rule='evenodd' d='M10 0h103c5 0 10 5 10 10 0 6-5 11-10 11H10C5 21 0 16 0 10 0 5 5 0 10 0zm0 83h103c5 0 10 5 10 10 0 6-5 11-10 11H10c-5 0-10-5-10-11 0-5 5-10 10-10zm0-42h103c5 0 10 5 10 11s-5 10-10 10H10C5 62 0 58 0 52s5-11 10-11z' clip-rule='evenodd'/%3E%3C/svg%3E");
            cursor: pointer;

            transition-property: transform;
            transition-duration: 150ms;
            &.show {
                transform: rotate(-90deg);
            }

        }

        &__list {
            display: none;
            &.show {
                display: block;
            }

            ul {
                padding: 25px 0 25px 25px;
            }

        }
    }
}

.chiffres-svg{
    .cls-1{
        fill: #e1e4f2;
    }
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
}

q.on-hover[cite]::before {
    content: "« ";
    font-size: 150%;
    
    color: var(--main-color);
}

q.on-hover[cite]::after {
    content: " »";
    font-size: 150%;
    color: var(--main-color);
}

q.on-hover[cite]:hover::after {
    content: " » (source: " attr(cite) ") ";
    color: var(--main-color);
}

// body:has(div#wiki) {
//     padding-bottom: 0;
// }

.number {
    margin: 0 6px 0 0;
}