<!DOCTYPE html>
<html lang="fr-ca">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow" />
        <link rel="icon" type="image/x-icon" href="../../shared/images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../shared/styles/styles.css">
        <link rel="stylesheet" href="../../shared/styles/highlight.min.css">
        <link rel="stylesheet" href="../../shared/styles/video-js.min.css">
        <link rel="stylesheet" href="../../shared/styles/swiper-bundle.min.css">
        <script src="../../shared/jscripts/commons.js"></script>
        <script src="../../shared/jscripts/highlight.min.js"></script>
        <script src="../../shared/jscripts/howler.min.js"></script>
        <script src="../../shared/jscripts/swiper-bundle.min.js"></script>
        <script src="../../shared/jscripts/vue.global.prod.js"></script>
        <script>const shared = '../../shared/';</script>
        <title>Composantes</title>
    </head>
    <body>
        <script>document.body.className = localStorage.getItem('darkmode') === 'true' ? 'dark' : 'light';</script>
        <a id="top"></a>
        <header>
            <div id="logo" @click="goToTop()">
                <svg class="logo-tim" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1202.33 303.71">
                    <path d="M785.69 166.81l16.26 16.26 16.26-16.26L930.56 54.46v226.25h-257V54.67l112.13 112.14zM650.56.71v303h303V.71h-1.77L801.95 150.54 652.12.71h-1.56zM324.48.46v303h303V.46h-303zm129.93 129.93c-13.08 13.08-13.08 34.29 0 47.38 9.41 9.41 23.02 12.05 34.79 7.92l94.77 94.77H347.48v-257h257v236.49l-94.77-94.77c4.13-11.77 1.48-25.39-7.92-34.79-13.09-13.08-34.3-13.08-47.38 0zM206.47 0L0 206.48V303h303V0h-96.53zM23 280v-64l85.62-85.62 119.87 119.87L249 229.74 129.13 109.87 216 23h64v257H23z"></path>
                </svg>
            </div>
            <div title="Dark mode" id="lightswitch" class="lightswitch--on" ref="lightswitch" @click="lightswitch()"></div>
        </header>
        <main>
            <!-- MAIN HEADER EOF -->
            <div id="subhead">
                <div id="breadcrumb"><a href="../">Manuel</a> ></div>
                <h1 id="title"><img src="images/icon.png">&nbsp;Composantes</h1>
            </div>
            <article>
                <div id="contents">
                    <!-- ARTICLE HEADER EOF -->

<p>Afin d'en faciliter l'utilisation, <strong><em>Timdoc</em></strong> a été monté en composantes <a target="_blank" href="https://vuejs.org/">VueJS</a>.</p>

<dots></dots>

<grostitre>info / warning / alert</grostitre>
<highlight lang="html">&lt;info&gt;Ceci est une bulle d'information&lt;/info&gt;</highlight>
<info>Ceci est une bulle d'information</info>
<br><br>
<highlight lang="html">&lt;warning&gt;Ceci est une bulle d'avertissement&lt;/warning&gt;</highlight>
<warning>Ceci est une bulle d'avertissement</warning>
<br><br>
<highlight lang="html">&lt;alert&gt;Ceci est une bulle d'alerte&lt;/alert&gt;</highlight>
<alert>Ceci est une bulle d'alerte</alert>
<dots></dots>

<grostitre>grostitre</grostitre>
<p>La composante <span class="inline-code">&lt;grostitre&gt;</span> remplace les <span class="inline-code">&lt;h1&gt;</span>, créent une ancre et l'ajoute à la table des matières automatiquement.<br><br>Exemple de cette section:</p>
<highlight lang="html">&lt;grostitre&gt;grostitre&lt;/grostitre&gt;</highlight>
<dots></dots>

<grostitre>mediafile</grostitre>
<highlight lang="html">&lt;mediafile src="images/icon.png"&gt;Icône&lt;/mediafile&gt;</highlight>
<mediafile src="images/icon.png">Icône</mediafile>
<dots></dots>

<grostitre>codepen</grostitre>
<highlight lang="html">&lt;codepen id="WNyYBpN"&gt;Voici une remarque pertinente.&lt;/codepen&gt;</highlight>
<codepen id="WNyYBpN">Voici une remarque pertinente.</codepen>
<dots></dots>

<grostitre>exercice</grostitre>
<highlight lang="html">&lt;exercice href="exercices/flexbox-defense"&gt;&lt;/exercice&gt;</highlight>
<exercice href="exercices/flexbox-defense"></exercice>
<dots></dots>

<grostitre>tool</grostitre>
<highlight lang="html">&lt;tool href="tools/css-gradient"&gt;&lt;/tool&gt;</highlight>
<tool href="tools/css-gradient"></tool>
<dots></dots>

<grostitre>knowmore</grostitre>
<highlight lang="html">&lt;knowmore href="https://fr.wikipedia.org/wiki/Monotremata"&gt;
    Les monotrèmes (Monotremata) constituent un ordre animal défini par
    Charles-Lucien Bonaparte en 1838, regroupant des espèces caractérisées
    par le fait d'être à la fois ovipares et mammifères : ils pondent des œufs
    mais allaitent leurs petits.
&lt;/knowmore&gt;</highlight>
<knowmore href="https://fr.wikipedia.org/wiki/Monotremata">Les monotrèmes (Monotremata) constituent un ordre animal défini par Charles-Lucien Bonaparte en 1838, regroupant des espèces caractérisées par le fait d'être à la fois ovipares et mammifères : ils pondent des œufs mais allaitent leurs petits.</knowmore>
<dots></dots>

<grostitre>doclink</grostitre>
<highlight lang="html">&lt;doclink href="https://www.w3schools.com/cssref/css3_pr_flex-direction.php"&gt;flex-direction&lt;/doclink&gt;
&lt;doclink href="https://developer.mozilla.org/fr/docs/Web/CSS/flex-direction"&gt;flex-direction&lt;/doclink&gt;</highlight>
<doclink href="https://www.w3schools.com/cssref/css3_pr_flex-direction.php">flex-direction</doclink>
<doclink href="https://developer.mozilla.org/fr/docs/Web/CSS/flex-direction">flex-direction</doclink>
<dots></dots>

<grostitre>dots</grostitre>
<highlight lang="html">&lt;dots&gt;&lt;/dots&gt;</highlight>
<dots></dots>

<grostitre>color</grostitre>
<highlight lang="html">&lt;color&gt;#e8b9ff&lt;/color&gt;
&lt;color&gt;#e2a6f8&lt;/color&gt;
&lt;color&gt;#5638f9&lt;/color&gt;</highlight>
<color>#e8b9ff</color>
<color>#e2a6f8</color>
<color>#5638f9</color>
<dots></dots>

<grostitre>clip</grostitre>
<highlight lang="html">&lt;clip src="videos/le-boson-de-higgs.mp4"&gt;&lt;/clip&gt;</highlight>
<clip src="videos/le-boson-de-higgs.mp4"></clip>
<doclink href="../videos">Manuel / Vidéos</doclink>
<dots></dots>

<grostitre>audioplayer</grostitre>
<highlight lang="html">&lt;audioplayer src="audios/careless-whisper.mp3"&gt;&lt;/audioplayer&gt;</highlight>
<audioplayer src="audios/careless-whisper.mp3"></audioplayer>
<doclink href="../audios">Manuel / Audios</doclink>
<dots></dots>

<grostitre>highlight</grostitre>
<highlight lang="html">&lt;highlight lang="javascript"&gt;console.log("Ceci est du javascript");&lt;/highlight&gt;</highlight>
<highlight lang="javascript">console.log("Ceci est du javascript");</highlight>
<dots></dots>

<grostitre>checklist</grostitre>
<highlight lang="html">&lt;checklist&gt;
    Bacon ipsum dolor amet pork loin shankle leberkas beef capicola porchetta ground round kevin meatball bresaola andouille.
    Andouille ham bresaola landjaeger meatloaf shoulder t-bone kielbasa salami corned beef porchetta ball tip.
    Brisket sirloin short loin beef shank swine ham hock hamburger spare ribs cupim.
    Chuck brisket bacon, bresaola buffalo drumstick pork chop strip steak boudin.
    Cow picanha fatback pastrami meatloaf biltong tongue shankle pork drumstick pork chop ribeye.
    Spare ribs shank hamburger shankle.
    Fatback sausage andouille, tenderloin ribeye ham short loin swine burgdoggen kielbasa capicola chuck spare ribs.
&lt;/checklist&gt;</highlight>
<checklist>
    Bacon ipsum dolor amet pork loin shankle leberkas beef capicola porchetta ground round kevin meatball bresaola andouille.
    Andouille ham bresaola landjaeger meatloaf shoulder t-bone kielbasa salami corned beef porchetta ball tip.
    Brisket sirloin short loin beef shank swine ham hock hamburger spare ribs cupim.
    Chuck brisket bacon, bresaola buffalo drumstick pork chop strip steak boudin.
    Cow picanha fatback pastrami meatloaf biltong tongue shankle pork drumstick pork chop ribeye.
    Spare ribs shank hamburger shankle.
    Fatback sausage andouille, tenderloin ribeye ham short loin swine burgdoggen kielbasa capicola chuck spare ribs.
</checklist>
<dots></dots>


<grostitre>swiper</grostitre>
<highlight lang="html">&lt;swiper&gt;
    photos/01.jpg
    photos/02.jpg
    photos/03.jpg
    photos/04.jpg
    photos/05.jpg
    photos/06.jpg
    photos/07.jpg
    photos/08.jpg
    photos/09.jpg
    photos/10.jpg
&lt;/swiper&gt;</highlight>
<swiper>
    photos/01.jpg
    photos/02.jpg
    photos/03.jpg
    photos/04.jpg
    photos/05.jpg
    photos/06.jpg
    photos/07.jpg
    photos/08.jpg
    photos/09.jpg
    photos/10.jpg
</swiper>
<dots></dots>
                    <!-- ARTICLE FOOTER SOF -->
                </div>
                <tabledesmatieres></tabledesmatieres>
            </article>
            <script src="../../shared/jscripts/components.js"></script>
        <!-- MAIN FOOTER SOF -->
        </main>
        <footer>
            <div id="copyright">2023 Collège Montmorency<br>Techniques d'intégration multimédia</div>
        </footer>
        <script src="../../shared/jscripts/video.min.js"></script>
    </body>
</html>