// .video-js {
//     width: 100%;
//     margin-bottom: 25px;


//     button.vjs-big-play-button {
//         color: var(--main-color);
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//     }
// }


.video-asset-container {
    margin-left: -25px;
    margin-right: -25px;

    text-align: center;
    @media (min-width: 770px)  {
        max-width: 770px;
    }
}

.video-asset {
    position: relative;
    width:100%;
 
    margin-bottom: 25px;
    @media (min-width: 770px)  {
        max-width: 770px;
    }
}

.mobile-width.video-asset {
    max-width: 100vw;
    @media (min-width: 320px)  {
        max-width: 300px;
    }
}



