.video-js {
    width: 100%;
    margin-bottom: 25px;


    button.vjs-big-play-button {
        color: #ff003a;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.video-asset {
    max-width: 770px;
    margin-left: -25px;
}