body.dark {
    color: white;
    // transition-duration: 0.4s;
    background-color: #000000;
    main {
        &::before {

            background: linear-gradient(to bottom, #3a2d2d, 20%, #000000);
        }
      
    }

    a {
        color: white;
    }


    footer {
        background: linear-gradient(to top, #3a2d2d, 50%, #000000);
    }

    #subhead {
        background-color: rgba(255, 255, 255, 0.1);
    }




}