
.swiper.swiper-main {
    width: 100%;
    height: 600px;

    .swiper-slide {
        user-select: none;
        background-size: 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 1.0;
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            background-image: inherit;
            background-size: cover;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: blur(25px);
        }

    }

    .swiper-fullscreen {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 10px;
        right: 10px;
        z-index: 999;

        &::after {
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            width: 25px;
            height: 25px;
            background-image: url('../images/fullscreen-icon.png');
            filter: drop-shadow(0px 0px 1px #222);
            background-size: contain;
            cursor: pointer;
        }
    }

}


.swiper.swiper-thumbs {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    .swiper-slide {
        display: flex;
        user-select: none;
        width: 100px;
        height: 100%;
        opacity: 0.4;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-slide-thumb-active {
        opacity: 1;
      }

}



.swiper-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0;
    
    &--show {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s;
    }

}
