.youtube-wrapper {
    position: relative;
    width: 100%;
    max-width: 770px;
    background-size: cover;
    background-position: center center;

    &__play {
        width: 100px;
        height: 100px;
        background-color: rgba(255, 116, 148, 0.2);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.0%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23ff003a%22%20d%3D%22M233%201a256%20256%200%201%200%2047%20510A256%20256%200%200%200%20233%201zm59%2045c80%2014%20146%2073%20169%20150%206%2023%208%2033%207%2060%200%2027-1%2037-7%2060a215%20215%200%200%201-264%20145A215%20215%200%200%201%2046%20220%20213%20213%200%200%201%20292%2046z%22%2F%3E%3Cpath%20fill%3D%22%23ff003a%22%20d%3D%22m221%20168-5%204c-2%203-2%207-2%2084%200%2073%200%2081%202%2084%203%206%2012%208%2019%203l56-40c42-31%2052-39%2054-42%201-4%201-8-1-12l-113-82c-4-1-6-1-10%201z%22%2F%3E%3C%2Fsvg%3E');
        clip-path: circle(50%);
        transition-property: transform;
        transition-duration: 0.1s;
        cursor: pointer;
        
        &:hover {
            transform: translate(-50%, -50%) scale(1.2);
        }
    }

    &__player {
        width: 100%;
        height: 100%;
    }

}