:root:has(body.dark) {
    color-scheme: dark;
}

body.dark {
    color: white;
    background-color: #000000;

    a { color: white; }
    em { color: #e6af2e; }
    span.inline-code { background-color: #1c1d21; color: white; }
    footer { /*background: linear-gradient(to top, #3a2d2d, 50%, #000000);*/ border-top: 1px solid rgb(19, 2, 4); }
    #subhead { background-color: rgba(255, 255, 255, 0.1); }
    main::before { background: linear-gradient(to bottom, #3a2d2d, 20%, #000000); }

    .hljs {
        color: #c0c5ce;
        background: #1c1d21;
        &-comment, &-quote { color: #b6b18b; }
        &-deletion, &-name, &-regexp, &-selector-class, &-selector-id, &-tag, &-template-variable, &-variable { color: #eb3c54; }
        &-built_in, &-link, &-literal, &-meta, &-number, &-params, &-type { color: #e7ce56; }
        &-addition, &-bullet, &-string, &-symbol { color: #4fb4d7; }
        &-keyword, &-selector-tag { color: #b45ea4; }
        &-section, &-title { color: #78bb65; }
        &-emphasis { font-style: italic; }
        &-attribute, &-attr { color: #ee7c2b; }
        &-punctuation { color: #60644d }
        &-strong { font-weight: 700; }
    }

    .dots { color: #74011b; }

    .grostitre {
        &__chain {
            background-color: #ff003a;
            &:hover { background-color: #004ca3; }
            &.copied { background-color: #34ad24; }
        }
    }

    .info {
        background-color: #131338;
        border-left: 4px solid #3c38ba;
        &__bubble {
            &::before {
                background-color: #131338;
                border: 4px solid #3c38ba;
                box-shadow: 0px 0px 0px 8px #1c1d21;
            }
        }
    }

    .warning {
        background-color: #44440a;
        border-left: 4px solid #f1f255;
        &__bubble {
            &::before {
                background-color: #44440a;
                border: 4px solid #f1f255;
                box-shadow: 0px 0px 0px 8px #1c1d21;
            }
        }
    }

    .alert {
        background-color: #3a2c2c;
        border-left: 4px solid #f25555;
        &__bubble {
            &::before {
                background-color: #3a2c2c;
                border: 4px solid #f25555;
                box-shadow: 0px 0px 0px 8px #1c1d21;
            }
        }
    }

    .bravo {
        background-color: #2e3a2c;
        border-left: 4px solid #74f255;
        &__bubble {
            &::before {
                background-color: #2e3a2c;
                border: 4px solid #74f255;
                box-shadow: 0px 0px 0px 8px #1c1d21;
            }
        }
    }

    .thumbsup {
        background-color: #532f4b;
        border-left: 4px solid #ab55f2;
        &__bubble {
            &::before {
                background-color: #532f4b;
                border: 4px solid #ab55f2;
                box-shadow: 0px 0px 0px 8px #1c1d21;
            }
        }
    }

    a.tool {
        background-color: #1c1d21;
        background-image: linear-gradient(0deg, #508d5d, 20%, #1c1d21);
        &:hover { color: #ffffff; }
        div.tool-container div.tool-abstract em.tool-label {
            background-color: #508d5d;
            color: white !important;
        }
    }

    a.exercice {
        background-color: #1c1d21;
        background-image: linear-gradient(0deg, #50728d, 20%, #1c1d21);
        &:hover { color: #ffffff; }
        div.exercice-container div.exercice-abstract em {
            background-color: #50728d;
            color: white !important;
        }
    }

    div.checklist {
        ol li:hover { background-color: #1c1d21; }
        div.progressbar { background-color: #1c1d21; }

        code {
            background-color: #1c1d21;
        }
        
    }

    .audioplayer {
        background-color: #1c1d21;
        border: 1px solid #1c1d21;
        &__button { filter: invert(100%); }
        &__waveform { background-color: #1c1d21; }
        &__progress { mix-blend-mode: overlay; opacity: 35%; }
    }

    .mediafile {
        &__link-text {
            background-color: #1c1d21;
            color: #ff003a;
        }
        
        &__download {
            background-color: #ff003a;
            &:hover { background-color: #004ca3; }
            &.copied { background-color: #34ad24; }
        }
        
        &__chain {
            background-color: #ff003a;
            &:hover { background-color: #004ca3; }
            &.copied { background-color: #34ad24; }
        }
    }

    .video-js {
        color: #ff003a;
        button.vjs-big-play-button {
            color: #ff003a;
            border-color: #ff003a;
        }
        .vjs-slider-bar {
            background-color: #ff003a;
        }
        .vjs-control-bar {
            background-color: rgb(28, 29, 33);
            opacity: 80%;
        }
    }

    .knowmore {
        display: block;
        border: 0px;
        background-color: #1c1d21;
        background-image: linear-gradient(0deg, #4c4e57, 20%, #1c1d21);
    }

    span.codepen-remark {
        margin-top: -25px;
    }

    .doclink.zipfile::before {
        background-color: #627b94;
    }

    .doclink.codepen::before {
        background-color: #5b5e6b;
    }

    #contents {
        p code,
        ul code {
            background-color: #1c1d21;
        }
    }


    table{
        tr:nth-child(even) td{
            background-color: #1c1d21;
        }
        
    }

}
