@font-face {
    src: url("../fonts/consolas.ttf") format("truetype");
    font-family: "Consolas";
    font-display: swap;
}

@import url("https://fonts.googleapis.com/css?display=swap&family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
