@font-face {
    src: url("../fonts/consolas.ttf") format("truetype");
    font-family: "Consolas";
    font-display: swap;
}


// @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,400&display=swap');

// @import url("https://fonts.googleapis.com/css?family=Inconsolata");
