.password-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98vw;
    max-width: 320px;
    background-color: white;
    border: 1px solid black;

    .bad-password {
        color: red;
        display: none;
        font-weight: bold;
        
        &.show {
            display: table-row;
        }
    }


    table {
        margin: 0;
        th {
            text-align: center;
            font-size: 1.4em;
        }
        td {
            text-align: center;
        }
    }
    input {
        font-size: 1em;
        font-weight: bold;
        padding: 4px;
        // margin: 4px;
        text-align: center;
    }
    input[type="password"] {
        width: 100%;
    }
    input[type="button"], input[type="submit"] {
        margin: 0 4px;
    }
}

body.dark .password-modal {
    background-color: black;
    border: 1px solid white;
    textarea, input[type="text"] {
        border: 1px solid white;
        &:invalid {
            border-color: var(--main-color);
        }
    }
}

body.digest {
    overflow: hidden;

    article {
        visibility: hidden;
    }
    #wiki {
        display: none;
    }
}