#wiki {

    display: flex;
    min-height: 100%;
    

    &__list {
        // position: sticky;
        top: 0;
        // align-self: flex-start;
        width: 200px;
        min-height: 100%;
        // background-color: rgba(255, 255, 255, 0.9);
        background-image: linear-gradient(to right, #111111, #000000);
        
        ul {
            position: sticky;
            top: 0;
            padding: 25px 25px;
            li {
                margin-bottom: 20px;
                list-style-type: none;
                font-size: 16px;
            }

        }


    }

    &__pages {
        // background-color: rgba(255, 192, 203, 0.075);
        width: 100%;
        // margin-left: 200px;
        max-width: 100%;
        padding: 25px 25px;
    
    
        h3 {
            margin-top: 0;
        }
    
    }



}

body:has(div#wiki) {
    padding-bottom: 0;
}