.accordion {
    max-width: 600px;
    margin: 4rem auto;
    width: 90%;
    font-family: "Raleway", sans-serif;
    background: #f4f4f4;
  }

  .accordion__title {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.5rem;
    background: #5b5e97;
    color: rgb(0, 204, 255);
    cursor: pointer;
    transition: .3s ease;
  }

  .accordion__title:hover {
    background: #41446d;
  }

  .accordion__copy {
    display: none;
    padding: 1rem 1.5rem 2rem 1.5rem;
    color: rgb(44, 29, 132);
    line-height: 1.6;
    font-size: 14px;
    font-weight: 500;
  }

  .accordion__copy--open {
    display: block;
  }
  
  body {
    background: #ff8585;
  }
  /* coolors https://coolors.co/fffcf9-b1ede8-ff8585-6d435a-352d39 */